{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 2015,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "eqeqeq": ["error", "always"],
    "curly": "error",
    "default-case": "error",
    "no-var": "error",
    "no-multi-spaces": "error",
    "no-useless-constructor": "error",
    "prefer-const": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-console": "warn",
    "prefer-template": "warn",
    "quotes": [
      "warn",
      "single",
      {
        "avoidEscape": true
      }
    ]
  }
}
